# MongoDB
MONGODB_URI=mongodb+srv://On:Demo123@cluster0.ucnsorh.mongodb.net/?appName=Cluster0

# Session
SESSION_SECRET=your_secret_key_here

# Razorpay
RAZORPAY_KEY_ID=rzp_test_SNblsok03hryMM
RAZORPAY_KEY_SECRET=96qcijqxGoAqiZ2VannwJb0h

# Email (Gmail App Password)
EMAIL_USER=nwon839@gmail.com
EMAIL_PASS=your_app_password_here
