<!DOCTYPE html>
<html>
<head>
<title>Manage Users</title>
</head>
<body>

<h2>All Users</h2>

<table border="1" cellpadding="10">
<tr>
<th>Name</th>
<th>Email</th>
<th>Role</th>
<th>Delete</th>
</tr>

<% users.forEach(function(user){ %>
<tr>
<td><%= user.name %></td>
<td><%= user.email %></td>
<td><%= user.role %></td>
<td>
<form method="POST" action="/admin-delete-user/<%= user._id %>">
<button>Delete</button>
</form>
</td>
</tr>
<% }) %>

</table>

<a href="/admin-dashboard">Back</a>

</body>
</html>